// COLORS
// -----------------------------------------------------------

$color-white: white !default;
$color-silverless: #e5e5e5 !default;
$color-silver: #c0c0c0 !default;
$color-gray: #d6d2d2 !default;
$color-black: #000000 !default;

$color-blue: #1d3374 !default;
$color-green: #2c4f12 !default;
$color-pink: #f9add6 !default;
$color-red: #e02424 !default;

$color-text: $color-black;
$color-link: $color-blue;
$color-primary: $color-silver;
$color-primary--dark: $color-white;
$color-secondary: $color-blue;

// Viewports
// -----------------------------------------------------------

$viewport-s: 'only screen and (min-width : 768px)';
$viewport-m: 'only screen and (min-width : 1024px)';
$viewport-l: 'only screen and (min-width : 1280px)';
$viewport-xl: 'only screen and (min-width : 1400px)';

// Bases
// -----------------------------------------------------------

$base-font-family: 'open-sans';
$base-font-family-bold: 'open-sans-bold';
$base-font-style: normal;
$base-font-weight: 300;
