@import '../../container/Application/base__css/_settings';

.list {
  @media #{$viewport-m} {
    width: 70%;
    margin-left: 30%;
    margin-top: 2rem;
  }
  @media #{$viewport-l} {
    width: 1000px;
    float: right;
    margin-left: 0;
    margin-top: 4rem;
  }
}
